NEXT_PUBLIC_SUPABASE_URL=https://wtmletgxgqkfpurvjqjg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind0bWxldGd4Z3FrZnB1cnZqcWpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MzQ4NzksImV4cCI6MjA4NzUxMDg3OX0.4OayYXn_79Mx9xhN3I0hLyby5mM-T4ty7XBwC9jzbhE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind0bWxldGd4Z3FrZnB1cnZqcWpnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTkzNDg3OSwiZXhwIjoyMDg3NTEwODc5fQ.qP675J7eNn4K5wQh20U7jWz1fP1nM5gEk1i2jBwGkI


SMTP_HOST=
SMTP_USER=
SMTP_PASS=
CRON_SECRET=
